TavernGameJam/TavernGameJam.sln
TavernGameJam/Binaries/
TavernGameJam/Intermediate/
TavernGameJam/Saved/
TavernGameJam/.vsconfig
TavernGameJam/.vs/TavernGameJam/v17/.suo
Binaries/
Intermediate/
Saved/
TavernGameJam.sln
.vsconfig
.vs/TavernGameJam/v17/.suo
.idea/
.vs/
